
.profile-picture {
    width: 200px;
    border-radius: 50%;
  }

  .portfolio {
    background-color: fuchsia;
  }
/* 
  .contact {
    background-color: blanchedalmond;
  }

  #contact-form {
    background-color: #ff0000;
  } */

  /* contact page */
  .purple-background {
    background-color: purple;
  }
  

  
  /* about component styling */
  .intro {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .title {
    font-style: italic;
  }
  
  .location {
    font-style: italic;
  }
  
  .contact {
    font-style: italic;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .description {
    font-size: 16px;
    line-height: 1.5;
  }





    


